<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home - Prime Palaces</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="description" content="Prime Palaces" />
    <meta name="keywords" content="Prime Palaces" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="hiso.dev" />
    <meta name="google" content="notranslate" />
    <meta name="robots" content="all, index, follow">
    <meta name="googlebot" content="all, index, follow">
    <!-- facebook og -->
    <meta property="og:locale" content="az_AZ" />
    <meta property="og:site_name" content="Prime Palaces" />
    <meta property="og:image" content="https://primepalaces.com/storage/uploads/images/cover.jpg" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="533" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - Prime Palaces" />
    <meta property="og:description" content="Prime Palaces" />
    <meta property="og:url" content="https://primepalaces.com/" />
    <!-- /facebook og -->
    <!-- twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="http://localhost/primepalaces.com/" />
    <meta name="twitter:title" content="Home - Prime Palaces" />
    <meta name="twitter:description" content="Prime Palaces" />
    <meta name="twitter:image" content="https://primepalaces.com/storage/uploads/images/cover.jpg" />
    <!-- /twitter card -->
    <link rel="canonical" href="https://primepalaces.com/" />
    <!-- Font Awesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="manifest" href="https://primepalaces.com/manifest.json">
    <!-- style -->

    <link href="https://primepalaces.com/templates/default/css/styles.css" rel="stylesheet">
    <link href="https://primepalaces.com/templates/default/css/colors.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">


    <!-- /style -->
    <script>
        var ciset = {
            base_url: "https://primepalaces.com/",
            csrf_token: "cefd785fc499cffd9562cd85a4a9779e"
        };
    </script>


</head>

<body itemscope itemtype="http://schema.org/WebPage" class="blue-skin">
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="header  header-transparent dark  change-logo">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand static-logo" href="https://primepalaces.com/">
                            <img src="https://primepalaces.com/storage/uploads/images/logo-light.png" class="logo"
                                 alt="logo" />
                        </a>
                        <a class="nav-brand fixed-logo" href="https://primepalaces.com/">
                            <img src="https://primepalaces.com/storage/uploads/images/logo-light.png" class="logo"
                                 alt="logo" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                            <li itemprop="name">
                                <a itemprop="url" href="https://primepalaces.com/"
                                   target="_self">Home</a>
                            </li>
                            <li>
                                <a href="JavaScript:Void(0);">
                                    Buy real estate <span class="submenu-indicator"></span>
                                </a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li>
                                        <a href="https://primepalaces.com/property-type/villa" target="_self">Villa</a>
                                    </li>
                                    <li>
                                        <a href="https://primepalaces.com/property-type/apartment"
                                           target="_self">Apartment</a>
                                    </li>
                                    <li>
                                        <a href="https://primepalaces.com/property-type/commercial"
                                           target="_self">Commercial</a>
                                    </li>
                                    <li>
                                        <a href="https://primepalaces.com/property-type/land" target="_self">Land</a>
                                    </li>
                                    <li>
                                        <a href="https://primepalaces.com/property-type/hotel" target="_self">Hotel</a>
                                    </li>
                                    <li>
                                        <a href="https://primepalaces.com/property-type/penthouse"
                                           target="_self">Penthouse</a>
                                    </li>
                                </ul>
                            </li>
                            <li itemprop="name">
                                <a itemprop="url" href="https://primepalaces.com/page/about-us"
                                   target="_self">About us</a>
                            </li>
                            <li itemprop="name">
                                <a itemprop="url" href="https://primepalaces.com/blog"
                                   target="_self">Blog</a>
                            </li>
                            <li itemprop="name">
                                <a itemprop="url" href="https://primepalaces.com/faq"
                                   target="_self">FAQ</a>
                            </li>
                            <li itemprop="name">
                                <a itemprop="url" href="https://primepalaces.com/contact"
                                   target="_self">Contact us</a>
                            </li>
                        </ul>
                        <ul class="nav-menu nav-menu-social align-to-right">
                            <li>
                                <a href="https://primepalaces.com/en">
                                    <img src="https://primepalaces.com/storage/images/flag/en.png" alt="en">
                                </a>
                            <li>
                                <a href="https://primepalaces.com/ru">
                                    <img src="https://primepalaces.com/storage/images/flag/ru.png" alt="ru">
                                </a>
                            <li>
                                <a href="https://primepalaces.com/az">
                                    <img src="https://primepalaces.com/storage/images/flag/az.png" alt="az">
                                </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="image-cover hero-banner"
             style="background:#fff url(https://primepalaces.com/storage/images/home.png) no-repeat;">

            @RenderBody()
        </div>


        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <h4 class="title">About us</h4>
                            <div class="text">
                                Prime Palces is a real estate platform based in Dubai , UAE with long term 8 years
                                experience and connections with international investors. Our head office is located in
                                Dubai.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <h4 class="title">Menu</h4>
                            <ul>
                                <li><a href="https://primepalaces.com/page/about-us">About us</a></li>
                                <li><a href="https://primepalaces.com/blog">Blog</a></li>
                                <li><a href="https://primepalaces.com/faq">FAQ</a></li>
                                <li><a href="https://primepalaces.com/property">Buy real estate</a></li>
                                <li><a href="https://primepalaces.com/contact">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <h4 class="title">Property</h4>
                            <ul>
                                <li><a href="https://primepalaces.com/property-type/villa">Villa</a></li>
                                <li><a href="https://primepalaces.com/property-type/apartment">Apartment</a></li>
                                <li><a href="https://primepalaces.com/property-type/commercial">Commercial</a></li>
                                <li><a href="https://primepalaces.com/property-type/hotel">Hotel</a></li>
                                <li><a href="https://primepalaces.com/property-type/penthouse">Penthouse</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="widget">
                            <h4 class="title">Contact</h4>
                            <div class="text">
                                <p>Dubai, United Arab Emirates</p>
                                <p>(+971) 54 361 48 49</p>
                                <p>
                                    <a href="/cdn-cgi/l/email-protection#660f0800092616140f0b0316070a070503154805090b">
                                        <span class="__cf_email__"
                                              data-cfemail="f79e999198b787859e9a9287969b96949284d994989a">info@primepalaces.com</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© Prime Palaces 2023. All rights reserved!</p>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="bottom-social">
                                <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
    <!-- script -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://primepalaces.com/templates/default/js/jquery.min.js"></script>
    <script src="https://primepalaces.com/templates/default/js/popper.min.js"></script>
    <script src="https://primepalaces.com/templates/default/js/bootstrap.min.js"></script>
    <script src="https://primepalaces.com/templates/default/js/rangeslider.js"></script>

    <script src="https://primepalaces.com/templates/default/js/jquery.magnific-popup.min.js"></script>
    <script src="https://primepalaces.com/templates/default/js/slick.js"></script>
    <script src="https://primepalaces.com/templates/default/js/slider-bg.js"></script>
    <script src="https://primepalaces.com/templates/default/js/lightbox.js"></script>
    <script src="https://primepalaces.com/templates/default/js/imagesloaded.js"></script>
    <script src="https://primepalaces.com/templates/default/js/custom.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-909EEV4TBP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-909EEV4TBP');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2429457808397549"
            crossorigin="anonymous"></script><!-- /script -->
</body>

</html>