* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lieto Me";
    src: url('../font/Lie\ to\ Me\ -\ TTF.ttf') format('truetype');
}

@font-face {
    font-family: "Microgramma Normal";
    src: url('../font/Microgramma\ Normal.ttf') format('truetype');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('..//font/HelveticaNeue-Black.otf') format('truetype');
}

main {
    background: url("../img/dubai-palm-jumeirah-island-aerial-view-in-united-a-2022-12-16-11-10-25-utc.jpg");
    background-size: cover;
    height: 100%;
}

.main {
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-text {
    width: 40%;
    padding: 20px;
}

.main-text h2 {
    font-size: 32px;
    color: #ffd871;
    font-family: "Lieto Me";
}

.main-text h3 {
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
    font-family: "Microgramma Normal";
    text-transform: uppercase;
}

.main-text h4 {
    width: 291px;
    border-radius: 4px;
    font-size: 27px;
    color: #ffffff;
    font-family: "Microgramma Normal";
    color: #ffffff;
    background-color: #f1b622;
    display: flex;
    align-items: center;
    padding: 10px;
}

.main-text p {
    font-size: 18px;
    color: #ffffff;
    font-family: "Helvetica Neue";
}

.main-text-icons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    color: #ffffff;
}

.main-text-icons>div {
    width: 233px;
}
.main-text-icons span{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    font-family: "Microgramma Normal";
}
.main-form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 547px;
}

.main-form .main-form-title p {
    font-size: 20px;
    color: #474d5a;
    font-family: "Microgramma Normal";
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.main-form>p {
    padding: 10px 0;
    font-size: 20px;
    color: #9099ac;
    font-family: "Helvetica Neue";
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    background-color: #eceff5;
}

form button {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    background-color: #f1b622;
    border: 0;
    cursor: pointer;
}

.main-text-icons img {
    width: 40px;
    color: white;
    fill: blue !important;
}

.main-text-icons span {
    display: inline-block;
    padding-left: 10px;
}

.hero-banner {
    padding-bottom: 0 !important;
}


@media (max-width: 992px) {
    .main {
        flex-direction: column;
    }

    .main-text,
    .main-form {
        width: 100%;
    }

    .main-text-icons img {
        width: 30px;
    }
}
@media (max-width: 768px) {
    .main-text-icons >div{
        width:100%
    }
}